@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 0.3s ease-out forwards;
}

:root {
  --background: #ffffff;
  --background-secondary: #f3f4f6;
  --background-footer: #10151c;
  --foreground: #171717;
  --foreground-secondary: #4b5563;
  --foreground-muted: #6b7280;
  --background-highlight: #cbda29;
  --background-business: #888888;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f2937;
    --background-secondary: #293649;
    --background-footer: #10151c;
    --foreground: #ededed;
    --foreground-secondary: #d1d5db;
    --foreground-muted: #9ca3af;
    --background-highlight: #cbda29;
    --background-business: #888888;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Open Sans", sans-serif;
}
